{% extends 'MyHealthSiteBundle::base.html.twig' %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}
{% block content %}
	<form class="form-horizontal" action="{{ path('MyHealthSiteBundle_profile_login_check') }}" method="POST">
		<fieldset>
			{% if error %}<div class="alert alert-error">{% trans %}The username and or password is incorrect{% endtrans %}.</div>{% endif %}
			{{ form_widget(login_form) }}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">{% trans %}Login{% endtrans %}</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}