<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		{#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myhealthsite/css/my_health.css') }}">#}
		<title>MyHealth - {% block title %}{% endblock title %}</title>
		{% block earlyScripts %}{% endblock %}
		{% block style %}{% endblock %}
	</head>
	<body>
		<div id="main-container" class="container">
			{% include 'MyHealthSiteBundle:Base:header.html.twig' %}
				{% block content %}{% endblock content %}
			{% include 'MyHealthSiteBundle:Base:footer.html.twig' %}
		</div>
	</body>
	{% block lateScripts %}
	{% endblock lateScripts %}
</html>